head
  title My Site
  link(rel="stylesheet", href="https://rdaily.hstong.com/v2/hst-ui/h5/css/rem-base.v2.css")
  link(rel="stylesheet", href="https://rdaily.hstong.com/v2/hst-ui/h5/plugins/webdialog/css/webdialog.mobile.min.css")