//- index.pug
html(lang="zh-cn")
  head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
  meta(name="referrer" content="origin")
  meta(name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no")
  link(rel="stylesheet", href="https://r.hstong.com/v2/hst-ui/h5/css/rem-base.v2.css")
  link(rel="stylesheet", href=cssPath+"/style.css")
  block css

  block seo
    title 华盛通活动页面
    meta(name="keyword" content="活动关键字")
    meta(name="description" content="活动内容")

  body
    block content
      h1 活动内容
