- var user = {description: 'foo bar baz'}
- var authorised = false
doctype html
html(lang="zh-cn")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 #{message}
    h2 #{user.description}
    h3 #{authorised}